/* font-family: "BenderRegular"; */
@font-face {
    font-family: "BenderRegular";
    src: url("../fonts/BenderRegular/BenderRegular.eot");
    src: url("../fonts/BenderRegular/BenderRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/BenderRegular/BenderRegular.woff") format("woff"),
    url("../fonts/BenderRegular/BenderRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "BenderBold"; */
@font-face {
    font-family: "BenderBold";
    src: url("../fonts/BenderBold/BenderBold.eot");
    src: url("../fonts/BenderBold/BenderBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/BenderBold/BenderBold.woff") format("woff"),
    url("../fonts/BenderBold/BenderBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "BenderItalic"; */
@font-face {
    font-family: "BenderItalic";
    src: url("../fonts/BenderItalic/BenderItalic.eot");
    src: url("../fonts/BenderItalic/BenderItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/BenderItalic/BenderItalic.woff") format("woff"),
    url("../fonts/BenderItalic/BenderItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "BenderBoldItalic"; */
@font-face {
    font-family: "BenderBoldItalic";
    src: url("../fonts/BenderBoldItalic/BenderBoldItalic.eot");
    src: url("../fonts/BenderBoldItalic/BenderBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/BenderBoldItalic/BenderBoldItalic.woff") format("woff"),
    url("../fonts/BenderBoldItalic/BenderBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "BenderBlack"; */
@font-face {
    font-family: "BenderBlack";
    src: url("../fonts/BenderBlack/BenderBlack.eot");
    src: url("../fonts/BenderBlack/BenderBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/BenderBlack/BenderBlack.woff") format("woff"),
    url("../fonts/BenderBlack/BenderBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "BenderBlackItalic"; */
@font-face {
    font-family: "BenderBlackItalic";
    src: url("../fonts/BenderBlackItalic/BenderBlackItalic.eot");
    src: url("../fonts/BenderBlackItalic/BenderBlackItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/BenderBlackItalic/BenderBlackItalic.woff") format("woff"),
    url("../fonts/BenderBlackItalic/BenderBlackItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "BenderLight"; */
@font-face {
    font-family: "BenderLight";
    src: url("../fonts/BenderLight/BenderLight.eot");
    src: url("../fonts/BenderLight/BenderLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/BenderLight/BenderLight.woff") format("woff"),
    url("../fonts/BenderLight/BenderLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "BenderLightItalic"; */
@font-face {
    font-family: "BenderLightItalic";
    src: url("../fonts/BenderLightItalic/BenderLightItalic.eot");
    src: url("../fonts/BenderLightItalic/BenderLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/BenderLightItalic/BenderLightItalic.woff") format("woff"),
    url("../fonts/BenderLightItalic/BenderLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
