body {
	font-family: "BenderItalic";
	padding: 0;
	margin: 0;
}

input .form-control:focus {
	border-color: #ce0707;
}

.navbar {
	border-radius: 0;
	border: inherit;
}
.navbar-inverse .navbar-brand {
	color: #fff;
}
.btn a{
	color: #fff;
	border-radius: 0;
	display: inline-block;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: #ce0707;
}

.navbar-inverse .navbar-nav > li > a {
	color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	background-color: transparent;
	-webkit-transition: .2s ease-out;
    -webkit-transition-delay: 0.2s;
    -o-transition: .2s ease-out;
    -o-transition-delay: 0.2s;
    -moz-transition: .2s ease-out;
    -moz-transition-delay: 0.2s;
    transition: .2s ease-out;
    transition-delay: 0.2s;
	color: #000;
}
.btn-danger {
	padding: 5px 10px 5px 10px;
	margin-bottom: 10px;
	background-color: #ce0707;

}
legend {
	max-width: 262px;

}
.form-exit {
	padding-top: 150px;
	padding-bottom: 100px;
}
.form-exit label {
	padding-left: 20px;
}
.form-exit input {
	max-width: 200px;
}
.form-exit input:focus {
	border-color: #ce0707;
	box-shadow: inset 0 1px 1px rgba(206,7,7, .075), 0 0 8px rgba(206,7,7, .6);
}

.login-space {
	margin-bottom: 50px;
}

.form-feedback {
	padding-top: 100px;
}
.form-feedback label {
	padding-left: 15px;

}
.form-feedback input, .form-feedback textarea {
	max-width: 200px;
	margin-left: 30px;
}
.form-feedback legend {
	max-width: 294px;
}
.help-block {
	margin-left: 30px;
}
.form-feedback .btn {
	margin-left: 30px;
}

.form-group .exit-input input, .form-group .exit-input label {
	margin-bottom: 15px;
}

.form-group .exit-input label {
	text-align: left;
}

/*Комнат на главной*/

.chats {
	padding-top: 100px;
}

.chats .panel-title {
	color: #fff;
}

.panel-default {
	border: none;
}
.panel-default .chat {
	border: 1px solid #ce0707;
}
.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
	border: none;
}
.panel-group .panel-footer {
	border-top: 1px solid #ddd;
}
.panel-group .panel {
	border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

/* Блоки чата и профиля*/

.panel-primary {
	border-color: #ce0707;
}
.panel-primary > .panel-heading {
	border-color: #ce0707;
}

/* Блок приватного чата */

.private-chat {
	padding-top: 100px;
}

.private-chat > .panel-primary > .panel-body > .msg, .private-chat > .panel-primary .panel-body > .user{
	display: table-cell;
}
.private-chat > .panel-primary > .panel-body > .msg, .private-chat > .panel-primary > .panel-body > .user {
	min-width: 200px;
}
.private-chat > .panel-primary .user {
	width: 100%;
}
.private-chat > .panel-primary .msg > .panel-heading, .private-chat > .panel-primary .user > .panel-heading {
	border-radius: 0;
}
.private-chat > .panel-primary > .panel-body {
	padding: 0;
}
.private-chat > .panel-primary > .panel-body > .msg > .msg-body{
	border-right: 1px solid #ce0707;

}
.private-chat > .panel-primary > .panel-body > .msg > .chat-block > .panel-body, .private-chat > .panel-primary > .panel-body > .user > .chat-block > .panel-body{
	min-height: 300px;
}
.private-chat > .panel-primary > .panel-body > .msg > .chat-block > .panel-footer, .private-chat > .panel-primary > .panel-body > .user > .chat-block > .panel-footer {
	min-height: 35px;
}




/* Блок профиля */

.profile {
	padding-top: 100px;
}
.profile .panel-body {
	min-height: 500px;
}
.profile .user-image {
	padding-top: 10px;
	padding-left: 20px;
}
.user-image {
	max-width: 200px;
}
.profile .avatar {
	border: 1px solid #ce0707;
	max-height: 300px;
	min-height: 200px;
	max-width: 200px;
	border-radius: 4px;
}

.inform {
	max-width: 300px;
}
